<template>
  <q-page class="flex flex-center q-py-lg q-px-md">
    <q-stepper v-model="step" ref="stepper" color="primary" keep-alive animated>
      <q-step
        :name="1"
        :title="$t('convert-amount-to-send')"
        icon="attach_money"
        :done="step > 1"
      >
        <conversion-form @request-placed="requestPlaced($event)" />
      </q-step>

      <q-step
        :name="2"
        :title="$t('place-request')"
        icon="assignment"
      >
        <request-placement-form
          :amount="convertedAmount"
          :amountWithCommission="convertedAmountWithCommission"
          :sourceCurrency="sourceCurrency"
          :originalAmount="originalAmount"
          :targetCurrency="targetCurrency"
          @go-to-conversion-form="goToConversionForm"
        />
      </q-step>
    </q-stepper>
  </q-page>
</template>

<script>
import ConversionForm from 'src/components/ConversionForm.vue'
import RequestPlacementForm from 'src/components/RequestPlacementForm.vue'

export default {
  name: 'PageIndex',

  components: {
    ConversionForm,
    RequestPlacementForm
  },

  data () {
    return {
      step: 1,
      convertedAmount: '',
      convertedAmountWithCommission: '',
      sourceCurrency: '',
      originalAmount: '',
      targetCurrency: ''
    }
  },

  methods: {
    requestPlaced (data) {
      this.convertedAmount = data.convertedAmount
      this.convertedAmountWithCommission = data.convertedAmountWithCommission
      this.sourceCurrency = data.sourceCurrency
      this.originalAmount = data.originalAmount
      this.targetCurrency = data.targetCurrency

      this.step = 2
    },

    goToConversionForm () {
      this.step = 1
    }
  }
}
</script>
