<template>
  <div class="conversion-form">
    <q-form
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md"
    >
      <q-select
        outlined
        v-model="form.sourceCurrency"
        :options="sourceCurrencies"
        :label="$t('source-currency')"
      >
        <template v-slot:append>
          <q-icon name="attach_money" />
        </template>
      </q-select>

      <q-input
        filled
        v-model="form.amount"
        :label="`${$tc('amounts', 1)} *`"
        lazy-rules
        :rules="[ val => val && val.length > 0 || $t('required-field')]"
      />

      <transition
        appear
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
        <q-select
          v-if="sourceCurrencyIsXAF"
          outlined
          v-model="form.targetCurrency"
          :options="targetCurrencies"
          :label="$t('target-currency')"
        >
          <template v-slot:append>
            <q-icon name="attach_money" />
          </template>
        </q-select>
      </transition>

      <div>
        <q-btn :loading="loading" type="submit" color="primary">
          {{ $t('convert') }}

          <template v-slot:loading>
            <q-spinner-hourglass />
          </template>
        </q-btn>

        <q-btn :label="$t('reset')" type="reset" color="primary" flat class="q-ml-sm" />
      </div>

      <transition
        appear
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
        <q-input
          v-if="convertedAmount"
          filled
          outlined
          class="q-mt-xl"
          v-model="convertedAmount"
          :label="`${$t('converted-amount')} (${targetCurrency})`"
          standout
          disable
          readonly
        />
      </transition>

      <transition
        appear
        enter-active-class="animated fadeIn"
        leave-active-class="animated fadeOut"
      >
        <q-btn v-if="convertedAmount" :label="$t('place-request')" color="primary" @click="placeRequest" />
      </transition>
    </q-form>
  </div>
</template>

<script>
export default {
  name: 'ConversionForm',

  data () {
    return {
      error: false,
      errorMsg: '',
      loading: false,
      form: {
        sourceCurrency: 'USD',
        amount: '',
        targetCurrency: ''
      },
      sourceCurrencies: ['USD', 'ZAR', 'AED', 'XAF'],
      targetCurrencies: ['USD', 'ZAR', 'AED'],
      convertedAmountWithCommission: '',
      convertedAmount: ''
    }
  },

  computed: {
    sourceCurrencyIsXAF() {
      return this.form.sourceCurrency === 'XAF'
    },

    targetCurrency() {
      return this.form.targetCurrency || 'XAF'
    }
  },

  methods: {
    async onSubmit () {
      try {
        const baseUrl = process.env.FIXER_BASE_URL
        const apiKey = process.env.FIXER_API_KEY

        const url = `${baseUrl}/latest?access_key=${apiKey}&symbols=USD,ZAR,AED,XAF`

        this.loading = true
        this.error = false

        const response = await this.$axios.get(url)

        if (response.data.success) {
          const rates = response.data.rates

          const dollarRates = rates.USD
          const randRates = rates.ZAR
          const dirhamRates = rates.AED
          const cfaRates = rates.XAF

          const rateFromDollar = cfaRates / dollarRates
          const rateFromRand = cfaRates / randRates
          const rateFromDirham = cfaRates / dirhamRates

          if (this.form.sourceCurrency === 'USD') {
            this.convertedAmountWithCommission = this.form.amount * rateFromDollar
            const convertedAmountWithNoCommission = this.form.amount * (rateFromDollar * .99)
            // let convertedAmountWithNoCommission = 0

            // if (this.form.amount < 1000) {
            //   convertedAmountWithNoCommission = this.form.amount * (rateFromDollar - 15)
            // } else if (this.form.amount >= 1000 && this.form.amount < 2000) {
            //   convertedAmountWithNoCommission = this.form.amount * (rateFromDollar - 17)
            // } else {
            //   convertedAmountWithNoCommission = this.form.amount * (rateFromDollar - 20)
            // }

            this.convertedAmount = (parseFloat(convertedAmountWithNoCommission)).toFixed(0)
          } else if (this.form.sourceCurrency === 'ZAR') {
            this.convertedAmountWithCommission = this.form.amount * rateFromRand
            const convertedAmountWithNoCommission = this.form.amount * (rateFromRand * .95)

            this.convertedAmount = (parseFloat(convertedAmountWithNoCommission)).toFixed(0)
          } else if (this.form.sourceCurrency === 'AED') {
            this.convertedAmountWithCommission = this.form.amount * rateFromDirham
            const convertedAmountWithNoCommission = this.form.amount * (rateFromDirham - 5)

            this.convertedAmount = (parseFloat(convertedAmountWithNoCommission)).toFixed(0)
          } else if (this.sourceCurrencyIsXAF) {
            let convertedAmountWithNoCommission = 0

            if (this.form.targetCurrency === 'USD') {
              this.convertedAmountWithCommission = this.form.amount * (1 / rateFromDollar)
              // convertedAmountWithNoCommission = this.form.amount * (1 / (rateFromDollar + 15))
              convertedAmountWithNoCommission = this.form.amount * (.99 / rateFromDollar)
            } else if (this.form.targetCurrency === 'ZAR') {
              this.convertedAmountWithCommission = this.form.amount * (1 / rateFromRand)
              convertedAmountWithNoCommission = this.form.amount * (.95 / rateFromRand)
            } else if (this.form.targetCurrency === 'AED') {
              this.convertedAmountWithCommission = this.form.amount * (1 / rateFromDirham)
              convertedAmountWithNoCommission = this.form.amount * (1 / (rateFromDirham + 5))
            }

            this.convertedAmount = (parseFloat(convertedAmountWithNoCommission)).toFixed(2)
          }

          this.loading = false
        } else {
          this.loading = false
          this.errorMsg = response.data.error.info

          this.$q.notify({
            color: 'negative',
            icon: 'report_problem',
            message: this.errorMsg,
            position: 'top',
            timeout: 5000
          })
        }
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = this.getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    async onReset () {
      this.form.amount = ''
      this.convertedAmount = ''
    },

    placeRequest () {
      const data = {
        convertedAmount: this.convertedAmount,
        convertedAmountWithCommission: this.convertedAmountWithCommission,
        sourceCurrency: this.form.sourceCurrency,
        originalAmount: this.form.amount,
        targetCurrency: this.form.targetCurrency || 'XAF'
      }

      this.$emit('request-placed', data)
    },

    getErrorMsgFromResponse (err) {
      if (err.response && err.response.data && err.response.data.message) {
        return err.response.data.message;
      }

      return err.message;
    }
  }
}
</script>
