<template>
  <div class="request-placement-form">
    <q-form
      @submit="onSubmit"
      @reset="onReset"
      class="q-gutter-md"
    >
      <q-input
        filled
        v-model="form.senderName"
        :label="`${$t('your-name')} *`"
        name="sender_name"
        lazy-rules
        :rules="[
          val => val && val.length > 0 || $t('required-field'),
          val => val && val.length > 3 || $t('min-3-chars')
        ]"
      >
        <template v-slot:prepend>
          <q-icon name="account_box" />
        </template>
      </q-input>

      <q-input
        filled
        v-model="form.senderEmail"
        :label="`${$t('your-email')} *`"
        name="sender_email"
        type="email"
        lazy-rules
        :rules="[
          val => val && val.length > 0 || $t('required-field'),
          isValidEmail
        ]"
      >
        <template v-slot:prepend>
          <q-icon name="alternate_email" />
        </template>
      </q-input>

      <q-input
        filled
        v-model="form.recipientName"
        :label="`${$t('recipient-full-name')} *`"
        name="recipient_name"
        lazy-rules
        :rules="[
          val => val && val.length > 0 || $t('required-field'),
          val => val && val.length > 3 || $t('min-3-chars')
        ]"
      >
        <template v-slot:prepend>
          <q-icon name="perm_contact_calendar" />
        </template>
      </q-input>

      <q-input
        filled
        v-model="form.recipientNumber"
        :label="`${$t('recipient-om-momo-number')} *`"
        name="recipient_phone"
        maxlength="9"
        lazy-rules
        :rules="[
          val => val && val.length > 0 || $t('required-field'),
          isNumber,
          isValidOrangeOrMTNNumber,
          val => val && val.length === 9 || $t('incorrect-phone-length')
        ]"
      >
        <template v-slot:prepend>
          <q-icon name="phone" />
        </template>

        <template v-slot:hint>
          {{ $t('phone-example') }}
        </template>
      </q-input>

      <!-- <q-file
        filled
        v-model="form.proof"
        :label="`${$t('proof-of-payment')} *`"
        accept=".jpg, image/*"
        name="payment_proof"
        lazy-rules
        :rules="[val => val || $t('required-field')]"
      >
        <template v-slot:prepend>
          <q-icon name="attach_file" />
        </template>
      </q-file> -->

      <q-input
        filled
        type="textarea"
        v-model="form.proof"
        :label="$t('confirm-payment')"
        name="payment_proof"
      >
        <template v-slot:prepend>
          <q-icon name="mode_comment" />
        </template>
      </q-input>

      <div>
        <q-btn :loading="loading" type="submit" color="primary">
          {{ $t('submit') }}

          <template v-slot:loading>
            <q-spinner-hourglass />
          </template>
        </q-btn>

        <q-btn :label="$t('reset')" type="reset" color="grey" class="q-ml-sm" />

        <q-btn :label="$t('back')" @click="onBackPressed" color="primary" flat class="q-ml-sm" />
      </div>
    </q-form>
  </div>
</template>

<script>
export default {
  name: 'RequestPlacementForm',

  props: {
    amount: {
      type: [String, Number],
      required: true
    },

    amountWithCommission: {
      type: [String, Number],
      required: true
    },

    sourceCurrency: {
      type: String,
      required: true,
      default: 'USD'
    },

    originalAmount: {
      type: [String, Number],
      required: true
    },

    targetCurrency: {
      type: String,
      required: true,
      default: 'XAF'
    }
  },

  data () {
    return {
      form: {
        senderName: '',
        senderEmail: '',
        recipientName: '',
        recipientNumber: '',
        proof: null
      },
      loading: false,
      error: false,
      errorMsg: ''
    }
  },

  methods: {
    isValidEmail (val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;

      return emailPattern.test(val) || this.$t('invalid-email');
    },

    isNumber (val) {
      return !isNaN(val) || this.$t('invalid-number')
    },

    isValidOrangeOrMTNNumber (val) {
      return val.startsWith('67') || val.startsWith('68') || val.startsWith('69')
        || val.startsWith('65') || this.$t('invalid-orange-mtn-number')
    },

    async onSubmit (evt) {
      try {
        this.loading = true
        this.error = false

        const apiUrl = process.env.API_URL

        const formData = new FormData(evt.target)

        formData.append('converted_amount', this.amount)
        formData.append('converted_amount_with_commission', this.amountWithCommission)
        formData.append('original_amount', this.originalAmount)
        formData.append('original_currency', this.sourceCurrency)
        formData.append('target_currency', this.targetCurrency)

        await this.$axios.post(`${apiUrl}/transfer-requests`, formData)

        this.loading = false

        this.onReset();
        this.onBackPressed();

        this.$q.notify({
          color: 'positive',
          icon: 'thumb_up',
          message: this.$t('request-placed'),
          position: 'top',
          timeout: 5000
        })
      } catch (error) {
        this.loading = false
        this.error = true
        this.errorMsg = this.getErrorMsgFromResponse(error)

        this.$q.notify({
          color: 'negative',
          icon: 'report_problem',
          message: this.errorMsg,
          position: 'top',
          timeout: 5000
        })
      }
    },

    onReset () {
      this.form = {
        senderName: '',
        senderEmail: '',
        recipientName: '',
        recipientNumber: '',
        proof: null
      }
      this.error = false
    },

    onBackPressed () {
      this.$emit('go-to-conversion-form')
    },

    getErrorMsgFromResponse (err) {
      if (err.response && err.response.data && err.response.data.message) {
        return err.response.data.message;
      }

      return err.message;
    }
  }
}
</script>
