<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar class="bg-white">
        <q-avatar square>
          <img src="~assets/logo.png">
        </q-avatar>

        <q-toolbar-title>
          <!-- {{ appName }} -->
        </q-toolbar-title>

        <q-select
          class="q-px-md"
          v-model="lang"
          :options="langOptions"
          :label="locale"
          dense
          borderless
          emit-value
          map-options
          options-dense
        />
      </q-toolbar>
    </q-header>

    <q-page-container>
      <router-view />
    </q-page-container>

    <q-footer class="bg-dark text-grey text-center q-pa-md">
      <div>
        {{ appName }} &copy; {{ year }} | {{ $t('all-rights-reserved') }}
      </div>

      <div class="text-underline q-mt-sm">
        <a :href="`mailto:${appEmail}`" class="text-primary">
          {{ appEmail }}
        </a>
      </div>
    </q-footer>
  </q-layout>
</template>

<script>
export default {
  name: 'MainLayout',

  data () {
    return {
      appName: process.env.APP_NAME,
      appEmail: process.env.APP_EMAIL,
      lang: this.$i18n.locale,
      langOptions: [
        { value: 'en-us', label: 'English' },
        { value: 'fr-fr', label: 'Français' }
      ]
    }
  },

  computed: {
    locale() {
      return this.$i18n.locale.toUpperCase()
    },

    year() {
      return new Date().getFullYear()
    }
  },

  watch: {
    lang(lang) {
      this.$i18n.locale = lang
    }
  }
}
</script>

<style lang="scss" scoped>
.q-toolbar {
  height: 60px;

  .q-avatar {
    height: auto;
    width: 240px;
  }
}

.q-page-container {
  background-image: url('../assets/bg-cowry.webp');
  background-repeat: repeat;
}
</style>
